@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swp");
*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html p {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #000;
}